/* airport css stylesheet */

/* View: Phone list */
.clients {
    list-style: none;
}
.header-top {
    padding: 10px 0;
    max-height: 60px;
    /* background: #2004bd; */
}
@media (max-width: auto) {
    .header-top {
        max-height: none;
    }
}
.gap-mini {
    margin: 10px 0 10px 0;
}
@media (min-width: auto) {
    .global-wrap {
        width: 1230px;
        margin: 30px auto;
    }
}
.global-wrap {
    background: #fff;
    height: 100%;
}
.full-center {
    left: 50% !important;
    position: absolute !important;
    top: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
span {
    display: block;
}
.typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
}
.typeahead-demo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
}
.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}
.new-title{
    border-bottom: 1px solid gray;
    margin-bottom: 2em;
}