<div class="row">
<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
<button type="button" class="btn btn-sm btn-info" ng-click="$state.go('newflight');">Crear Vuelo</button>
<button type="button" class="btn btn-sm btn-danger" ng-click="">Cancelar Vuelo</button>
</div>

<div class="col-lg-12">
<h3 class="text-center font-weight-bold text-uppercase">Vuelos</h3>
<table class="table table-hover table-bordered table-responsive table-striped text-center">
  <thead class="thead-light">
    <tr>
      <th class="text-center">Numero</th>
      <th class="text-center">Avion</th>
      <th class="text-center">Aeropuerto-salida</th>
      <th class="text-center">Aeropuerto-llegada</th>
      <th class="text-center">Escalas</th>
      <th class="text-center">Fecha-salida</th>
      <th class="text-center">Fecha-llegada</th>
      <th class="text-center">Estado</th>
      <th class="text-center">Duracion(horas)</th>
      <th class="text-center">Precio</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-click="console.log('click');"><td>1NMN</td><td>Boeing-737</td><td>SJO</td><td>NYC</td><td>1</td><td>05/02/19</td><td>05/03/19</td>
      <td>Activo</td><td>6</td><td>1000$</td></tr>
    <!-- <tr *ngFor="let client of clients; let id = index">
    <td><span contenteditable="true" (keyup)="changeValue(id, 'idd', $event)" (blur)="updateList(id, 'idd', $event)">
      {{client.idd}}
    </span></td>
    <td><span contenteditable="true" (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)">
      {{client.name}}
    </span></td>
    <td>
        <span contenteditable="true" (keyup)="changeValue(id, 'lastname', $event)" (blur)="updateList(id, 'lastname', $event)">
        {{client.lastname}}
        </span>
    </td>
    <td>
        <span contenteditable="true" (keyup)="changeValue(id, 'address', $event)" (blur)="updateList(id, 'address', $event)">
        {{client.address}}
        </span>
    </td>
    <td>
        <span contenteditable="true" (keyup)="changeValue(id, 'birthday', $event)" (blur)="updateList(id, 'birthday', $event)">
        {{client.birthday}}
        </span>
    </td>
    <td>
        <span contenteditable="true" (keyup)="changeValue(id, 'contact', $event)" (blur)="updateList(id, 'contact', $event)">
        {{client.contact}}
        </span>
    </td>
    <td>
        <span contenteditable="true" (keyup)="changeValue(id, 'status', $event)" (blur)="updateList(id, 'status', $event)">
        {{client.status}}
        </span>
    </td>
    <td>
        <span>
        <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">X</button>
        </span>
    </td>
    </tr> -->
  </tbody>
</table>
</div>
</div>